<ul class="media-list">
  <% posts.each do |post| %>
  	<li class="media">
  		<h4 class="media-left" style="color: blue;">
  			<%= post.user.name %>
  		</h4>
  		<div class="media-body">
  			<h4 class="media-heading"><%= post.title %></h4>
  			<%= post.content %>
  		</div>
      <div>
        <% if post.user_id == current_user.id %>
          <%= link_to 'Detail Page',post_path(post.id),class:'btn btn-success btn-md' %>
        <% else %>
          <% if current_user.favorites.pluck('post_id').include?(post.id) %>
            <%= link_to 'お気に入り解除',favorite_path(id: post.id),method: :delete,class:'btn btn-danger btn-sm' %>
          <% else %>
            <%= link_to 'お気に入り登録',favorites_path(post_id: post.id),method: :post,class:'btn btn-primary btn-sm' %>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if post.image? %>
          <%= image_tag post.image.url %>
        <% else %>
          <p>No Image</p>
        <% end %>
      </div>
  	</li>
  <% end %>
</ul>
