<h1>Create Post</h1>
<%= form_with(model: @post, url: posts_path, local: true, method: :post)do |f| %>
<%= render 'layouts/error_messages',model: f.object %>

  <div class='post-group'>
    <%= f.label :title,"title" %>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <div class='post-group'>
    <%= f.label :content,"content" %>
    <%= f.text_area :content, class:'form-control',row:2 %>
  </div>

  <div class="post-group">
    <%= f.label :image %>
    <%= f.image_tag @post.image.url if @post.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit 'Create!',class:"btn btn-primary btn-lg" %>
<% end %>
<h1>Posts index</h1>
<%= render 'posts', posts: @posts %>
